.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 500px;
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"],
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input {
  padding: 1rem;
  border-radius: 3rem;
  border: 0.2rem solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
}
